<div class="flex flex-col space-y-2">
  <div class="text-xl font-semibold">Robust</div>
  <div class="bg-gray-300 p-2">
    <ul class="flex space-x-2 justify-start text-sm">
      <li routerLink="/blast" class="cursor-pointer">Blast</li>
      <li routerLink="/strengthen" class="cursor-pointer">Strengthen</li>
    </ul>
  </div>
  <div>Robust is a set of IMSAFER modules ...</div>
  <div class="flex flex-row space-x-2 items-center text-xs">
    <span>read more</span>
    <a href="/assets/doc/robust.pdf"
      ><svg-icon tippy="pdf manual" [key]="'link'"></svg-icon
    ></a>
  </div>
</div>
