<div class="flex flex-col space-y-2">
  <div class="text-xl font-semibold">Fire Safety</div>
  <div>Fire Safety is a set of IMSAFER modules ...</div>
  <div class="flex flex-row space-x-2 items-center text-xs">
    <span>read more</span>
    <a href="/assets/doc/fire.pdf"
      ><svg-icon tippy="pdf manual" [key]="'link'"></svg-icon
    ></a>
  </div>
  <div class="text-sm flex flex-col space-y-2">
    <form-simple-left-to-right [formGroup]="form0"></form-simple-left-to-right>
    <div class="flex space-x-2 items-center">
      <label class="font-semibold">Formulation:</label>
      <form [formGroup]="form1" class="text-sm">
        <select
          class="text-xs h-10 border-red-500"
          (change)="changeFormulation($event)"
          formControlName="formulation"
        >
          <option value="" disabled>Choose a formulation</option>
          <option
            *ngFor="let formulation of formulations; index as i"
            [ngValue]="formvals[i]"
          >
            {{ formulation }}
          </option>
        </select>
      </form>
    </div>
    <p class="font-semibold">
      Total area of building floors in m<span>&#178;</span>
    </p>
    <form-simple-left-to-right [formGroup]="form2"></form-simple-left-to-right>
    <p class="font-semibold">
      Cost per m<span>&#178;</span> of each 1 of the 16 measures, in
      currency/m<span>&#178;</span>:
    </p>
    <form-simple-left-to-right [formGroup]="form3"></form-simple-left-to-right>
    <form-simple-left-to-right [formGroup]="form4"></form-simple-left-to-right>
    <icon-button
      (click)="onSubmit()"
      [iconkey]="'solid-fire'"
      [text]="'Optimize'"
      [notAllowed]="
        !(
          form0.valid &&
          form1.valid &&
          form2.valid &&
          form3.valid &&
          form4.valid
        )
      "
    ></icon-button>
  </div>
</div>
