<div class="container mx-auto pt-2 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between space-x-2 p-2 bg-gray-300">
    <!-- Top Bar -->
    <logo0
      [image]="'logo.png'"
      [text]="
        'Advanced Information Modelling for SAFER structures against manmade hazards'
      "
    ></logo0>
    <top-login0 (click)="onClick()"></top-login0>
  </div>
  <div class="mt-2 md:flex">
    <div class="w-full mb-2 md:mb-0 md:w-1/4 mr-2">
      <sidebar0
        [items]="(sidebar$ | async) || []"
        (selection)="dispatch(sidebarNavigationAction({ navlist: $event }))"
      ></sidebar0>
    </div>
    <div class="w-full md:w-3/4 space-y-4">
      <div class="flex flex-row items-center space-x-2">
        <div class="bg-white text-xl font-semibold">
          {{ (sidebarActive$ | async)?.text }}
        </div>
        <topbar0
          [items]="(topbar$ | async) || []"
          (selection)="dispatch(topbarNavigationAction({ navlist: $event }))"
        ></topbar0>
      </div>

      <!-- Content -->
      <div class="flex justify-start bg-gray-200">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
