<!-- https://play.tailwindcss.com/9DXR6UQ4d1 -->
<div class="container p-2 min-w-max max-w-screen-xl">
  <div class="flex items-center justify-between space-x-2 p-2 bg-gray-300">
    <div class="flex flex-row space-x-2">
      <img src="/assets/img/logo.png" routerLink="/" class="cursor-pointer" />
      <span
        class="invisible sm:visible sm:w-96 sm:text-base sm:font-bold font-semibold text-xs w-64"
      >
        Advanced Information Modelling for SAFER structures against manmade
        hazards
      </span>
    </div>
    <div
      class="border-2 p-2 text-sm cursor-not-allowed bg-indigo-600 text-white font-semibold"
      (click)="notYet()"
    >
      Login
    </div>
  </div>
  <div class="mt-2 sm:flex">
    <div class="sm:hidden bg-gray-300 p-2 mb-2">
      <ul class="flex justify-between text-sm">
        <li routerLink="/robust" class="cursor-pointer">Robust</li>
        <li routerLink="/fire" class="cursor-pointer">Fire Safety</li>
        <li routerLink="/evacuation" class="cursor-pointer">Evacuation</li>
        <li routerLink="/risk" class="cursor-pointer">Risk</li>
        <li routerLink="/results" class="cursor-pointer">Results</li>
      </ul>
    </div>
    <div class="hidden border-2 p-2 mr-2 sm:flex sm:flex-col whitespace-nowrap">
      <sidebar0
        [items]="(sidebar$ | async) || []"
        (selection)="dispatch(sidebarNavigationAction({ navlist: $event }))"
      ></sidebar0>
      <!-- <ul class="space-y-3">
        <li routerLink="/robust" class="cursor-pointer">Robust</li>
        <li routerLink="/fire" class="cursor-pointer">Fire Safety</li>
        <li routerLink="/evacuation" class="cursor-pointer">Evacuation</li>
        <li routerLink="/risk" class="cursor-pointer">Risk</li>
        <hr />
        <li routerLink="/results" class="cursor-pointer">Results</li>
      </ul> -->
    </div>
    <div class="border-2 w-full flex flex-col p-2">
      <!-- <div class="flex flex-row items-center space-x-2">
        <div class="bg-white text-xl font-semibold">
          {{ (sidebarActive$ | async)?.text }}
        </div>
        <topbar0
          [items]="(topbar$ | async) || []"
          (selection)="dispatch(topbarNavigationAction({ navlist: $event }))"
        ></topbar0>
      </div> -->

      <!-- Content -->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
