<div class="flex flex-col space-y-2">
  <div class="text-xl font-semibold">Strengthen</div>
  <div>Strengthen is a set of IMSAFER modules ...</div>
  <div class="flex flex-row space-x-2 items-center text-xs">
    <span>read more</span>
    <a href="/assets/doc/strengthen.pdf"
      ><svg-icon tippy="pdf manual" [key]="'link'"></svg-icon
    ></a>
  </div>

  <div class="text-sm flex flex-col space-y-2">
    <p class="font-semibold">Center of mass</p>

    <form-simple-left-to-right [formGroup]="form0"></form-simple-left-to-right>
    <form-simple-left-to-right [formGroup]="form1"></form-simple-left-to-right>
    <form-simple-left-to-right [formGroup]="form2"></form-simple-left-to-right>

    <ng-container *ngFor="let pillar of formpillar; index as i">
      <div class="flex space-x-2 items-center">
        <span class="font-medium">Column {{ i + 1 }} Data:</span>
        <form-simple-left-to-right
          [formGroup]="pillar"
          [tooltips]="tooltips"
        ></form-simple-left-to-right>
      </div>
    </ng-container>
  </div>

  <strengthen-upload
    *ngIf="!jobID"
    (case)="submitCase($event)"
  ></strengthen-upload>

  <div *ngIf="jobID">
    <div *ngIf="!completed" class="p-2 flex flex-col space-y-2">
      <p class="text-sm text-gray-700">
        Job is currently running ... Progress: {{ progress }}%
      </p>
      <icon-button
        (click)="refresh()"
        [iconkey]="'refresh'"
        [text]="'Refresh job status'"
      ></icon-button>
    </div>
    <div *ngIf="completed && !jobFailed" class="p-2 flex flex-col space-y-2">
      <p class="text-sm text-gray-700">Job is finished</p>
      <img [src]="thumbnail" />
      <div class="flex items-center justify-between">
        <icon-button
          (click)="downloadResults()"
          [iconkey]="'download'"
          [text]="'Download Results'"
        ></icon-button>
        <icon-button
          (click)="reload()"
          [iconkey]="'rss'"
          [text]="'New Strengthen'"
        ></icon-button>
      </div>
    </div>
    <div *ngIf="jobFailed" class="p-2 flex flex-col space-y-2">
      <p class="text-red-500">Job failed</p>
      <p>Server said:</p>
      <p class="text-sm text-gray-700">{{ failedReason }}</p>
      <icon-button
        (click)="reload()"
        [iconkey]="'rss'"
        [text]="'New Strengthen'"
      ></icon-button>
    </div>
  </div>
</div>
